In [ ]:
""" 1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to print the string 'too low' if guess_me is less than 7, 'too high' if greater than 7, and 'just right' if equal to 7.
2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while loop that compares start with guess_me. Print too low if start is less than guess me. If start equals guess_me, print 'found it!' and exit the loop. If start is greater than guess_me, print 'oops' and exit the loop. Increment start at the end of the loop.
3. Print the following values of the list [3, 2, 1, 0] using a for loop.
4. Use a list comprehension to make a list of the even numbers in range(10)
5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the keys, and use the square of each key as its value.
6. Construct the set odd from the odd numbers in the range using a set comprehension (10).
7. Use a generator comprehension to return the string 'Got ' and a number for the numbers in range(10). Iterate through this by using a for loop.
8. Define a function called good that returns the list ['Harry', 'Ron', 'Hermione'].
9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.
10. Define an exception called OopsException. Raise this exception to see what happens. Then write the code to catch this exception and print 'Caught an oops'.
11. Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habit', 'Crewel Fate'] and plots = ['A nun turns into a monster', 'A haunted yarn shop'].

"""

In [2]:
#1.
guess_me = int(input("enter value : "))
if guess_me == 7 :
    print('Just Right')
elif guess_me > 7 :
    print("Too High")
else:
    print('Too Low')

enter value : 6
Too Low

In [5]:
#2.
guess_me = 7
start = 1

while True:
    if start < guess_me:
        print('too low')
    elif start == guess_me:
        print('found it!')
        break
    else:
        print('oops')
        break
    start += 1

too low
too low
too low
too low
too low
too low
found it!

In [6]:
#3.
l = [3,2,1,0]
for i in l:
    print(i)

3
2
1
0

In [9]:
#4.
x = [item for item in range(10) if item%2==0]
x

[0, 2, 4, 6, 8]

In [10]:
#5.
squares = {num: num * num for num in range(10)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [12]:
#6.
y = {item for item in range(10) if item%2==1}
y

{1, 3, 5, 7, 9}

In [14]:
#7.
a = ('Got ' + str(num) for num in range(10))
for i in a:
    print(i)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

In [15]:
#8.
def name():
    return ['Harry', 'Ron', 'Hermione']
name()

['Harry', 'Ron', 'Hermione']

In [17]:
#9.
def get_odds():
    for number in range(1, 10, 2):
         yield number
count = 1
for number in get_odds():
    if count == 3:
        print("The third odd value is", number)
        break
    count += 1

The third odd value is 5

In [21]:
#10.
def raiseException(num):
    if num < 0:
        raise OopsException(num)

try:
    raiseException(-1)
except OopsException as err:
    print('Caught an oops')

Caught an oops

In [22]:
#11.
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
movies = dict(zip(titles, plots))
print(movies)

{'Creature of Habit': 'A nun turns into a monster', 'Crewel Fate': 'A haunted yarn shop'}